<div class="projects-container container-fluid text-center">
  <div class="row heading">
    <h1>My Projects</h1>
  </div>

  <div class="project">
    <div class="title row">
      <h2>Rentflix</h2>
    </div>

    <div class="row project body">
      <div class="col description text-start">
        <p>An MVC app that I built using Microsoft ASP .NET and Entity Framework Core, and hosted using Microsoft Azure.
          As a mock movie rental website, it's designed to show off my skills as a developer using .NET and RESTful API. Anyone can view a list
          of movies using the browse page, and by logging in and creating an account, you can (pretend to) rent movies, return them, view a list of your past and current rentals,
          and view and write reviews for each movie.
        </p>
        <p>
          To log in, make/view pretend rentals and leave reviews, you can use the fictitious email "newemail&#64;gmail.com" and the password is "Password1#",
          or feel free to create a new account using the registration link on the log-in page. Creating, editing, and deleting movies through the site is also possible, but
          those web pages are only available to users with admin permissions
        </p>

        <div class="row">
          <a href="https://rentflix.azurewebsites.net" target="_blank" rel="noopener noreferrer"><div class="button text-center">VIEW PROJECT</div></a><span>Note: Project may take time to load</span>
        </div>
      </div>

      <div class="col photo text-start">
        <img src="./assets/rentflix.jpg" alt="Rentflix project picture" height="320px" width="420px">
      </div>

    </div>
  </div>

  <div class="project">
    <div class="title row">
      <h2>Web Dev Grill</h2>
    </div>

    <div class="row project body">
      <div class="col description text-start">
        <p>A mock restaurant website that I built using Angular to practice my skills. Users can create an account, log in, add items
          to their cart, change the quantity of items in their cart, submit their order, and then view a list of orders that they've made.
          The site uses CRUD API to read and submit data to and from MongoDB
        </p>
        <p>
          To log in and make an order, you can use the fictitious email "newemail&#64;gmail.com" and the password is "password",
          or feel free to create a new account using the registration link on the sign-in page
        </p>

        <div class="row">
          <a href="https://webdevgrill.onrender.com/#/" target="_blank" rel="noopener noreferrer"><div class="button text-center">VIEW PROJECT</div></a><span>Note: Project may take time to load</span>
        </div>
      </div>

      <div class="col photo text-start">
        <img src="./assets/webdevgrill.jpg" alt="Web Dev Grill project picture" height="320px" width="360px">
      </div>

    </div>
  </div>

  <div class="project">
    <div class="title row">
      <h2>Bob's Computer Repair Shop</h2>
    </div>

    <div class="row project body">
      <div class="col description text-start">
        <p>
          This is a group project that I helped create for a college class, alongside two of my classmates, Hannah Del Real and Jocelyn Dupis.
          It's a site for a fictitious computer repair shop, a user can log in either as an admin or a regular employee and submit a work order
          to a MongoDB database, while those with admin permissions can access a user configuration page that allows for creating, editing, and deleting
          users. <br> My personal contributions to the project included:
        </p>
        <ul>
          <li>Instantiating the database and managing the team's database design strategy</li>
          <li>Writing API for the following: finding a user by ID, logging a user in, finding a user's selected security questions, and finding a work order based on
            a requested service</li>
          <li>Implementing the UI for the User Configuration page</li>
          <li>Designing the registration process, its associated form, and setting up the UI for it</li>
          <li>Implementing the forgot password process</li>
          <li>Creating the User Profile page</li>
        </ul>
        <p>
          To log in and access the site's admin features, use the following on the sign-in page - Email: bob&#64;bcrs.com  Password: Adminbob1
        </p>

        <div class="row">
          <a href="https://bcrs-wfaj.onrender.com/" target="_blank" rel="noopener noreferrer"><div class="button text-center">VIEW PROJECT</div></a><span>Note: Project may take time to load</span>
        </div>
      </div>

      <div class="col photo text-start">
        <img src="./assets/bcrs.png" alt="BCRS project picture" height="320px" width="360px" class="bcrs">
        <p class="attribution">Custom logo courtesy of my classmate and group member, Hannah Del Real</p>
      </div>

    </div>
  </div>

  <div class="project">
    <div class="title row">
      <h2>NodeBucket</h2>
    </div>

    <div class="row project body">
      <div class="col description text-start">
        <p>A simple Angular application I created during my studies at Bellevue University. A user can log in to view
           the tasks page, and then submit tasks, which are stored to a MongoDB NoSQL Database. Tasks can be moved back
            and forth between the "Todo" and "Done" columns by dragging and dropping them thanks to RXJS implementation
        </p>
        <p>
          To log in and create tasks, the valid ID numbers accepted on the sign-in page are 1007-1012
        </p>

        <div class="row">
          <a href="https://hochdoerfer-nodebucket.onrender.com/#/" target="_blank" rel="noopener noreferrer"><div class="button text-center">VIEW PROJECT</div></a><span>Note: Project may take time to load</span>
        </div>
      </div>

      <div class="col photo text-start">
        <img src="./assets/nodebucket.png" alt="Nodebucket project picture" height="180px" width="360px">
      </div>

    </div>
  </div>
</div>
