<div class="resume-container container-fluid row">
  <div class="inner-body col">

    <div class="subheading">
      <img src="./assets/list-ul-alt-svgrepo-com.svg" alt="List svg" class="svg "><h2>Summary:</h2> <a href="/assets/resume-portfolio-version.pdf">View PDF</a>
    </div>
    <div class="summary">
      <p>Web Development major with a background in Computer Science and Liberal Arts, seeking to use my skills to develop
         high quality code and to analyze, research, and resolve system issues and solutions as a Full Stack Web
          Developer or a related position.
      </p>
      <br>
      <p>
        My skills include proficiency with object-oriented programming using languages such as C#, Python, and TypeScript,
        experience with front-end technologies including HTML/CSS, JavaScript, Bootstrap, and React.js,
          well-practiced use of Node.js/Angular, and Microsoft ASP .NET to create RESTful Web
        API, a firm understanding of SQL and NoSQL database systems, and detailed knowledge of Agile and DevOps methodologies and how
        they guide a developer’s daily workflow.
      </p>
    </div>

    <div class="subheading">
      <img src="./assets/graduation-cap-svgrepo-com.svg" alt="Graduation cap svg" class="svg "><h2>Education:</h2>
    </div>
    <div class="education-container">
      <div class="education">
        <div class="school row">
          <h3>Bellevue University, University of Nevada</h3>
          <h3 class="date">November 2022 - March 2024</h3>
        </div>

        <div class="degree row">
          <h4>Bachelor of Science in Web Development</h4>
        </div>

        <div class="gpa row">
          <h4>Cumulative GPA: 4.00</h4>
        </div>
      </div>

      <div class="education">
        <div class="school row">
          <h3>Binghamton University, State University of New York</h3>
          <h3 class="date">August 2017 - May 2020</h3>
        </div>

        <div class="degree row">
          <h4>Bachelor of English with a focus in Creative Writing (completed CS Associates Degree in 2018)</h4>
        </div>

        <div class="degree row">
          <h4>Cumulative GPA: 3.86 &nbsp;&nbsp;Dean’s List Fall 2017 – Spring 2020</h4>
        </div>

        <div class="gpa row">
          <h4>Recipient of the Maria Gillian Scholarship</h4>
        </div>
      </div>

      <div class="education">
        <div class="school row">
          <h3>SUNY Broome, Community College of New York</h3>
          <h3 class="date">August 2015 - May 2017</h3>
        </div>

        <div class="degree row">
          <h4>Associate Degree of Computer Science (started)</h4>
        </div>

        <div class="degree row">
          <h4>Cumulative GPA: 3.68 &nbsp;&nbsp;Dean’s List Fall 2015 – Spring 2017</h4>
        </div>

        <div class="gpa row">
          <h4>Recipient of the Paul and Mary Calice & Mildred Barton Memorial Scholarship</h4>
        </div>
      </div>
    </div>

    <div class="subheading">
      <img src="./assets/computer-svgrepo-com.svg" alt="Graduation cap svg" class="svg "><h2>Skills:</h2>
    </div>
    <div class="skills">
      <ul>
        <li>Skilled at using JavaScript, HTML/CSS, and Bootstrap for UI design, detailed understanding of best practices and accessibility guidelines, some knowledge of WordPress</li>
        <li>Experience using Angular/Node.js and Microsoft ASP .NET to develop software applications using RESTful API, the MVC design pattern, and SOAPUI testing</li>
        <li>Well versed in the use of TypeScript, C++, C#, Python, and Ruby programming languages</li>
        <li>Deep understanding of using Microsoft SQL Server and MongoDB for storing and managing application data</li>
        <li>Strong skills with React.js, familiarity with Azure and AWS cloud platforms</li>
        <li>Excellent analytical and problem-solving skills, understanding of Agile and Dev Ops methods</li>
      </ul>
    </div>

    <div class="subheading">
      <img src="./assets/work-alt-svgrepo-com.svg" alt="Graduation cap svg" class="svg "><h2>Work Experience:</h2>
    </div>
    <div class="skills">
      <div class="school row">
        <h3>Target Closing Expert</h3>
        <h3 class="date">August 2017 - Present</h3>
      </div>
      <ul>
        <li>Diligently manages the state of the sales floor by employing a deep familiarity with working alongside others as part of a team.</li>
        <li>Provides swift, amicable customer service using strong verbal communication skills</li>
      </ul>
    </div>
  </div>
</div>
