<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid nav-row">
    <a class="navbar-brand" routerLink="home">Kyle Hochdoerfer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item resume-link">
          <div class="col nav-link"><a routerLink="resume">Resume</a></div>
        </li>

        <li class="nav-item projects-link">
          <div class="col nav-link"><a routerLink="projects">Projects</a></div>
        </li>

        <li class="nav-item contact-link">
          <div class="col nav-link"><a routerLink="contact">Contact</a></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
