.contact-container{
  background-color: #5F5079;
  padding-top: 1%;
  padding-bottom: 20%;
  color: #FFFF;
}

h1{
  font-family: "Oswald", "Sans Serif";
  font-size: 3.5rem;
}

p{
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem
}

.contact{
  margin-top: 2%;
}

.offset{
  margin-bottom: 2%;
}

@media(max-width: 994px){
  .contact{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  h1{
    margin-bottom: 8%;
    font-size: 2.5rem;
  }
}
