<div class="contact-container container-fluid text-center">
  <div class="row heading">
    <h1>Let's Get In Touch</h1>
  </div>

  <div class="contact row">
    <div class="col">
      <div class="row text-center phone">
        <img src="/assets/smartphone-2-svgrepo-com.svg" alt="Phone icon" height="64px" width="54px">
        <p>Phone: 607-761-0268</p>
      </div>
    </div>

    <div class="col">
      <div class="row text-center">
        <img src="/assets/location-pin-svgrepo-com.svg" alt="Location Pin icon" height="64px" width="54px">
        <p>Address: 1209 Echo Rd. <br>Vestal, New York 13850</p>
      </div>
    </div>

    <div class="col">
      <img src="../../assets/mail-svgrepo-com.svg" alt="Email icon" height="64px" width="54px">
      <p>Email: kjhochdoerfer&#64;gmail.com</p>
    </div>
  </div>
</div>
