<div class="links">
  <div class="row linked">
    <div class="link-item email"><a href="mailto: kjhochdoerfer@gmail.com"><img src="./assets/gmail-svgrepo-com.svg" alt="Gmail Icon" class="gmail">kjhochdoerfer&#64;gmail.com</a></div>
    <div class="link-item site"><a href="https://www.linkedin.com/in/kyle-hochdoerfer/"><img src="./assets/linkedin-svgrepo-com.svg" class="linkedin" alt="LinkedIn Icon">LinkedIn</a></div>
    <div class="link-item site"><a href="https://github.com/KyleHoc"><img src="./assets/github-mark-white.png" class="github" alt="Github Icon">Github</a></div>
  </div>
</div>
