.links{
  background-color: #393048;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.linked{
  padding-left: 5%;
}

.link-item img{
  margin-right: 3%;
}

.link-item a{
  color: #FFFF;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", "Sans Serif";
  font-weight:lighter;
}

.link-item a:hover{
  text-decoration: underline;
}

.gmail{
  margin-bottom: 4px;
  height: 26px;
  width: 26px;
}

.email{
  width: 325px;
}

.site{
  width: 220px;
}

.linkedin{
  height: 26px;
  width: 26px;
}

.github{
  color: white;
  height: 26px;
  width: 26px;
}

@media (max-width: 780px) {
  .email{
    width: 100%;
    margin-bottom: 2px;
  }

  .site{
    width: 100%;
    margin-bottom: 7px;
  }
}
